@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: "Baloo";
  src: url("../fonts/BalooBhaina-Regular.svg") format("svg"), url("../fonts/BalooBhaina-Regular.woff2") format("woff2"), url("../fonts/BalooBhaina-Regular.woff") format("woff"), url("../fonts/BalooBhaina-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.svg") format("svg"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0; }

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  height: 60px;
  justify-content: center; }

.welcome-header {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(rgba(218, 200, 169, 0.3), rgba(218, 200, 169, 0.3)), url("../img/home-bg.jpg") fixed no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .welcome-header h2, .welcome-header h4 {
    color: #fff;
    font-weight: normal;
    text-shadow: 2px 2px 3px gray; }
  .welcome-header h2 {
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 46px; }
  .welcome-header h4 {
    padding-bottom: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    font-style: italic; }
  .welcome-header button {
    font-size: 26px;
    padding: 8px 12px; }

button {
  color: #fff;
  background: #34E96B;
  width: auto;
  border: 1px solid #c8c8c8;
  padding: 5px 8px;
  font-size: 16px;
  margin: 5px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 4px; }

button:hover {
  color: #000;
  background: #27C7F7;
  transition: all ease .5s; }

.footer-distributed {
  background-color: #34E96B;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 110%;
  text-align: left;
  font: bold 16px sans-serif; }

.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed .footer-left {
  color: #ffffff;
  margin: 13.5px 0 12px;
  padding: 0; }

.footer-distributed .footer-right {
  color: black;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: white; }

.footer-links a:hover {
  color: #27C7F7; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }

  .footer-distributed .footer-center i {
    margin-left: 0; } }
body, html {
  margin: 0; }

img {
  max-width: 100%; }

.notes {
  padding: 50px 0px;
  background: #0f1d28; }

.notes p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: auto;
  color: #fff;
  max-width: 500px;
  text-align: center; }

.notes h1 {
  font-family: 'Merriweather', serif;
  margin: auto;
  color: #fff;
  max-width: 500px;
  text-align: center; }

.color1 {
  background: #ace6d1; }

.color2 {
  background: #2a2c39; }

.container {
  max-width: 300px;
  margin: auto;
  padding: 80px 0px; }

/* Info boxe ONE
-------------------------------------------------- */
.stack {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
  height: auto;
  padding: 5px;
  color: #424242;
  border: 3px solid #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.upper {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.upper p {
  padding: 0px 10px 35px 10px;
  text-align: justify; }

.lower {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  max-width: 230px;
  margin: -20px auto 0px auto;
  z-index: 1; }

.lower a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #253e5e;
  -webkit-transition: color ease-out .3s;
  -moz-transition: olor ease-out .3s;
  -o-transition: olor ease-out .3s;
  transition: olor ease-out .3s; }

.lower a:hover {
  color: #1d76ad; }

.box h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px; }

.box p:last-of-type {
  border-bottom: none; }

@media (min-width: 768px) and (max-width: 979px) {
  .box p {
    margin: 0px 10px; }

  .lower {
    max-width: 180px; } }
.flex-container {
  width: 100%;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 480px) {
    .flex-container {
      flex-direction: row;
      padding: 0; } }

.flex-cell-1-2 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-1-2 {
      width: 49%; } }

.flex-cell-1-3 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-1-3 {
      width: 32%; } }

.flex-cell-2-3 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-2-3 {
      width: 65%; } }

.flex-cell-1-4 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-1-4 {
      width: 24%; } }

.flex-cell-3-4 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-3-4 {
      width: 74%; } }

.flex-cont-vertical-center {
  display: flex;
  align-items: center; }

.flex-right {
  justify-content: flex-end; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: #34E96B;
  align-items: center;
  z-index: 3; }
  nav > div {
    text-align: center; }
  nav h1 {
    font-size: 32px;
    font-weight: normal;
    text-shadow: 2px 2px 5px gray;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 5px; }
  nav h4 {
    font-size: 18px;
    text-shadow: 2px 2px 5px gray;
    font-weight: normal;
    color: white;
    font-family: 'Russo One', sans-serif; }
  nav a {
    text-decoration: none;
    color: #fff; }

.compass {
  height: 60px;
  transform: rotate(0deg);
  transition: all 1s ease;
  cursor: pointer; }

.compass-active {
  transform: rotate(359deg);
  transition: all 1s ease; }

.cookie-box {
  position: fixed;
  top: 80px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #27C7F7;
  box-shadow: 0 2px 5px gray;
  transition: height .5s ease;
  z-index: 2;
  overflow: hidden;
  text-align: center; }
  .cookie-box h3 a {
    color: #fff; }

.cookie-box-active {
  height: 40px; }

.style_text {
  color: #009cff;
  letter-spacing: .15em;
  padding-left: 45px; }

.style_text_shampoo {
  color: #009cff;
  letter-spacing: .15em;
  padding-left: 10px; }

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 150px;
  padding-right: 140px;
  font-size: 20px;
  color: #009cff; }

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px; }
  .services-container #residential {
    border: 0px solid #000;
    border-radius: 5px;
    height: 240px;
    width: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 20px;
    transition: all .2s ease; }
  .services-container .style_text:hover {
    color: #34E96B; }
  .services-container .style_text_shampoo:hover {
    color: #34E96B; }
  .services-container #commercial {
    border: 0px solid #000;
    border-radius: 5px;
    height: 240px;
    width: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 20px;
    transition: all .2s ease; }
  .services-container #shampoo {
    border: 0px solid #000;
    border-radius: 5px;
    height: 240px;
    width: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 20px;
    transition: all .2s ease; }
  .services-container #powerwashing {
    border: 0px solid #000;
    border-radius: 5px;
    height: 240px;
    width: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 20px;
    transition: all .2s ease; }

#residential_show {
  border: 0px solid #000;
  border-radius: 5px;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 20px;
  transition: all .2s ease;
  opacity: 0.4; }

#powerwashing_show {
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 20px;
  transition: all .2s ease;
  opacity: 0.4;
  padding-top: 20px; }

#commercial_show {
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 20px;
  transition: all .2s ease;
  opacity: 0.3; }

#shampoo_show {
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 20px;
  transition: all .2s ease;
  opacity: 0.3; }

.service-info {
  padding-left: 10px;
  padding-right: 10px;
  color: black; }

.call {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #27C7F7;
  font-size: 20px; }

.info-box {
  display: flex;
  text-align: center; }

.text {
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  padding-top: 100px;
  color: #27C7F7;
  left: 0;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%; }

.rw-wrapper {
  width: 80%;
  position: relative;
  margin: 110px auto 0 auto;
  font-family: 'Bree Serif';
  padding: 10px; }

.rw-words {
  display: inline;
  text-indent: 10px; }

.rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #34E96B;
  -webkit-animation: rotateWord 21s linear infinite 0s;
  -ms-animation: rotateWord 21s linear infinite 0s;
  animation: rotateWord 21s linear infinite 0s; }

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #34E96B; }

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #34E96B; }

.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: #34E96B; }

.rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: #34E96B; }

.rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
  color: #34E96B; }

.rw-words-1 span:nth-child(7) {
  -webkit-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
  color: #34E96B; }

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px); }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px; } }
@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px; } }
.about_text {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: #27C7F7;
  padding-bottom: 30px; }

.about_description {
  display: flex;
  justify-content: center;
  color: #34E96B;
  font-size: 22px;
  text-align: center; }

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
  padding: 70px 8px;
  margin: 0 auto; }

.box {
  cursor: pointer;
  float: left;
  margin: 5px;
  position: relative;
  overflow: hidden;
  border: 0px solid #000;
  border-radius: 5px;
  height: 340px;
  width: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  display: flex;
  justify-content: center; }

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border: 0px solid #000;
  border-radius: 5px;
  height: 340px;
  width: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease; }

.box .caption {
  font-family: Tahoma;
  font-size: .5em;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
  opacity: 0;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 15px;
  padding-right: 10px;
  border: 0px solid #000;
  border-radius: 5px;
  height: 340px;
  width: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  font-size: 15px; }

.box:hover .fade-caption {
  opacity: 1; }

.caption-header {
  font-size: 20px;
  color: #27C7F7; }

.bio {
  padding-right: 20px; }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 3px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical; }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #34E96B;
  color: white;
  padding: 9px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #34E96B; }

/* Add a background color and some padding around the form */
.container {
  margin-top: 20px;
  border-radius: 20px;
  background-color: #27C7F7;
  padding: 15px; }

.finerDetails {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 180px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: #34E96B;
  align-items: center;
  z-index: 3; }
  nav > div {
    text-align: center; }
  nav h1 {
    font-size: 32px;
    font-weight: normal;
    text-shadow: 2px 2px 5px gray;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 5px; }
  nav h4 {
    font-size: 18px;
    text-shadow: 2px 2px 5px gray;
    font-weight: normal;
    color: white;
    font-family: 'Russo One', sans-serif; }
  nav a {
    text-decoration: none;
    color: #fff; }

.compass {
  height: 60px;
  transform: rotate(0deg);
  transition: all 1s ease;
  cursor: pointer; }

.compass-active {
  transform: rotate(359deg);
  transition: all 1s ease; }

.cookie-box {
  position: fixed;
  top: 80px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #27C7F7;
  box-shadow: 0 2px 5px gray;
  transition: height .5s ease;
  z-index: 2;
  overflow: hidden;
  text-align: center; }
  .cookie-box h3 a {
    color: #fff; }

.cookie-box-active {
  height: 40px; }

/*# sourceMappingURL=main.css.map */
