nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: $green;
  align-items: center;

  z-index: 3;
  > div {
    text-align: center;
  }
  h1 {
    font-size: 42px;
    font-weight: normal;
    text-shadow: 2px 2px 5px gray;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

.compass {
  height: 60px;
  transform: rotate(0deg);
  transition: all 1s ease;
  cursor: pointer;
}
.compass-active {
  transform: rotate(359deg);
  transition: all 1s ease;
}

.searchbar {
  width: 220px;
  position: relative;
  margin: 0 auto;
  input {
    background: #FFF;
    font-size: 18px;
    width: 100%;
    border: 1px solid $darkgray;
    border-radius: 20px;
    padding: 5px 8px;
    box-shadow: 2px 2px 5px gray;
  }
  img {
    position: absolute;
    right: 0px;
    top: 5px;
    height: 20px;
  }
}

.cookie-box {
  position: fixed;
  top: 80px;
  left: 0;
  height: 1px;
  width: 100%;
  background: $blue;
  box-shadow: 0 2px 5px gray;
  transition: height .5s ease;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  h3 {

    a {
      color: #fff;
    }
  }

}

.cookie-box-active {
  height: 40px;
}
