nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: $green;
  align-items: center;

  z-index: 3;
  > div {
    text-align: center;
  }
  h1 {
    font-size: 32px;
    font-weight: normal;
    text-shadow: 2px 2px 5px gray;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 5px;
  }
  h4 {
    font-size: 18px;
    text-shadow: 2px 2px 5px gray;
    font-weight: normal;
    color: white;
    font-family: 'Russo One', sans-serif;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

.compass {
  height: 60px;
  transform: rotate(0deg);
  transition: all 1s ease;
  cursor: pointer;
}
.compass-active {
  transform: rotate(359deg);
  transition: all 1s ease;
}


.cookie-box {
  position: fixed;
  top: 80px;
  left: 0;
  height: 1px;
  width: 100%;
  background: $blue;
  box-shadow: 0 2px 5px gray;
  transition: height .5s ease;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  h3 {

    a {
      color: #fff;
    }
  }

}

.cookie-box-active {
  height: 40px;
}
