.style_text {
    color: $skyblue;
    letter-spacing: .15em;
    padding-left: 45px;
}

.style_text_shampoo{
  color: $skyblue;
  letter-spacing: .15em;
  padding-left: 10px;
}


.services {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 100px;
padding-top: 150px;
padding-right: 140px;
font-size: 20px;
color: $skyblue
}


.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;

  #residential {
    border: 0px solid #000;
     border-radius: 5px;
     height: 240px;
     width: 230px;
     background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
     cursor: pointer;
     box-shadow: 0px 0px 5px gray;
     margin-bottom: 20px;
     transition: all .2s ease;
     }
   .style_text:hover {
     color: $green;
   }
   .style_text_shampoo:hover {
     color: $green;
   }

  #commercial {
    border: 0px solid #000;
     border-radius: 5px;
     height: 240px;
     width: 230px;
     background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
     cursor: pointer;
     box-shadow: 0px 0px 5px gray;
     margin-bottom: 20px;
     transition: all .2s ease;
      }
  #shampoo {
    border: 0px solid #000;
     border-radius: 5px;
     height: 240px;
     width: 230px;
    background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
     cursor: pointer;
     box-shadow: 0px 0px 5px gray;
     margin-bottom: 20px;
     transition: all .2s ease;
      }
  #powerwashing {
    border: 0px solid #000;
     border-radius: 5px;
     height: 240px;
     width: 230px;
     background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
     cursor: pointer;
     box-shadow: 0px 0px 5px gray;
     margin-bottom: 20px;
     transition: all .2s ease;
    }
}

.rw-wrapper{
    width: 80%;
    position: relative;
    margin: 110px auto 0 auto;
    font-family: 'Bree Serif';
    padding: 10px;
}

.rw-words{
    display: inline;
    text-indent: 10px;
}
.rw-words-1 span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color:  $green;
    -webkit-animation: rotateWord 21s linear infinite 0s;
    -ms-animation: rotateWord 21s linear infinite 0s;
    animation: rotateWord 21s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: $green;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: $green;
}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: $green;
}
.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color:  $green;
}
.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: $green;
}
.rw-words-1 span:nth-child(7) {
    -webkit-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
    color: $green;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}
